/* Ubuntu*/
@font-face
{
    font-family : "Ubuntu-R";
    src: url('Ubuntu-R.tff');
}
* {
	font-family: 'Ubuntu', Ubuntu, sans-serif;
  src: local('Ubuntu'), url(https://utcg.herokuapp.com/css/fonts/ubuntu.tff), format('tff');
}

nav li a {
  color:#FC6C85;
}
nav li a:hover{
  color:#f83261;
}
nav li a:active {
  color:#f83261;
}
.navbar-header a{
  color:#FC6C85;
  font-weight:bolder;
  font-size:32px;
}

.content {
  padding: 1%;
  padding-left:2%;
}

.footer {
  color:#FC6C85;
  padding:1%;
  font-size:10px;
  border-top: 1px solid #FC6C85;
  border-bottom: 1px solid #FC6C85;
  border-radius:3px;
}

.footer a {
  color:#FC6C85;

  text-decoration: underline;

}
.footer-strong{
  font-size:13px;
  color:white;
  font-weight: bold;
}

.footer-links a {
  color:#FC6C85;
  padding-right:2%;
}

/* What can I write on facecard? */
.pink {
  background-color: #FC6C85;
  color:white;
  padding:1%;
}
.pink h1 {
  color: white;
  text-align:center;
  font-weight: lighter;
  display:block;
  margin-left: auto;
  margin-right: auto;
}
.pink h4 {
  color: white;
  font-size:25px;
  text-align:center;
  font-weight: lighter;
  display:block;
  margin-left: auto;
  margin-right: auto;
}
.pink i {
  font-size:90px;
}

.pink i:hover {
  color:#f06292;
}
.col-md-2{
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.appear {
  font-size:45px;
  font-weight:lighter;
}
.appear2 {
  font-size:15px;
  font-weight:lighter;
}
