/* Ubuntu*/
@font-face
{
    font-family : "Ubuntu-R";
    src: url('Ubuntu-R.tff');
}
* {
	font-family: 'Ubuntu', Ubuntu, sans-serif;
  src: local('Ubuntu'), url(https://utcg.herokuapp.com/css/fonts/ubuntu.tff), format('tff');
}

.background {
  background-color: #3b5998;
  border-color: #e7e7e7;
}
nav li a {
  color:white;
}

.navbar-header a{
  color:white;
}

.content {
  padding: 1%;
  padding-left:2%;
}

.footer {
  background-color: #3b5998;
  color:white;
  padding:1.5%;
  font-size:12px;
}

.footer a {
  color: white;
  text-decoration: underline;
}
.footer-strong{
  font-size:15px;
  color:white;
}

.footer-links a {
  color:white;
  padding-right:1%;
}
